<h2>Welcome to the Cat's Pajamas</h2>

<form action="/create-cat" method="POST">

<label>Name</label>
<input type="text" name="catName">

<label>Image URL</label>
<input type="text" name="imgUrl">


<button>Save</button>
</form>