<h2>Edit Cat</h2>

<form action="/update-cat/{{theCat.id}}" method="POST">

<label>Name</label>
<input type="text" name="catName" value="{{theCat.name}}">

<br>
<br>
<br>

<img src="{{theCat.img}}">
<label>New Image</label>
<input type="text" name="imgUrl">


<button>Update</button>
</form>